@font-face {
    font-family: "Poppins";
    src: url("fonts/poppins/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: "PoppinsBold";
    src: url("fonts/poppins/Poppins-ExtraBold.ttf");
}

body {
    background-color: #ddebf3;
    font-family: Poppins;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

#titleCard {
    font-size: 200%;
    padding-top: 32px;
}

#gameboard {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cell {
    transition: ease all 0.125s;
    border-style:solid;
    border-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 500%;
    color: rgba(0, 0, 0, 0);
}
.cell:hover {
    background-color: #d2dfe7;
    color: rgba(0, 0, 0, 0.244);
}
.cell:active {
    background-color: #c6d3db;
}

.cell#cell0, .cell#cell1, .cell#cell2 {
    border-top-style: none;
    border-bottom-style: none;
}
.cell#cell0, .cell#cell3, .cell#cell6 {
    border-left-style: none;
    border-right-style: none;
}
.cell#cell2, .cell#cell5, .cell#cell8 {
    border-right-style: none;
    border-left-style: none;
}
.cell#cell6, .cell#cell7, .cell#cell8 {
    border-top-style: none;
    border-bottom-style: none;
}

#playerSwitches {
    display: flex;
    background-color: grey;
    border-radius: 5px;
}
#playerSwitches *{
    transition: ease all 0.125s;
    color: white;
    padding: 8px;
}

.currentPlayer#p1 {
    background-color: red;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.currentPlayer#p2 {
    background-color: blue;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.p1cell, .p1cell:hover {
    pointer-events: none;
    background-color: #e3adad;
    color: rgba(255, 0, 0, 0.73);
}
.p2cell, .p2cell:hover {
    pointer-events: none;
    background-color: #afade3;
    color: rgba(0, 0, 255, 0.73);
}

 .winner {
    background-color: #aee3ad;
    color: rgba(1, 86, 1, 0.73);
 }

 .winner#p2 {
    background-color: rgba(1, 86, 1, 0.73);
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
 }
 .winner#p1 {
    background-color: rgba(1, 86, 1, 0.73);
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
 }